
<div id="produtos">
    <select id="produto">
    </select>
    <input type="submit" id="confirmar" value="Confirmar disponibilidade">
</div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js
    "></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        //const io = require('socket.io-client')
        const socket = io('http://localhost:3636')
        socket.on('connect', function(){
            socket.emit('criar', {sala: 'sala1'})
        })
        $('#confirmar').click(function(){
            const temos = document.getElementById('produto').value;
            socket.emit('confirmando', {produto: temos, id: 'sala1'})
        });
        socket.on('dashboard', function(produto){
            $('#produto').append('<option value="'+produto.produtos+'">'+produto.produtos+'</option>')

        });
        /*$('#lista').click( function(){
            const produto = document.getElementById('selecao').value;
            socket.emit('lista', {produtos: produto})
        })*/
        
    </script>